<style>
    .element {
        display: block;
        text-align: center;
        width: 23em;
        max-height: 30em;
        margin: 0.5em;
    }
</style>

<mat-card class="element">
    <mat-card-title>{{myProduct.title | uppercase}}</mat-card-title>
    <img mat-card-img src={{myProduct.imageUrl}} width=100/>
    <mat-card-content>{{myProduct.description}}</mat-card-content>
    <mat-card-subtitle *ngIf="myProduct.size && myProduct.size.length > 1">Plusieurs tailles disponibles</mat-card-subtitle>
    <mat-card-actions>
        <button mat-raised-button color="primary" *ngFor="let size of myProduct.size">{{size}}</button>
    </mat-card-actions>
    <mat-card-content><b>{{(myProduct.price / 100) | number |  currency:'EUR':true: '1.1'}} </b></mat-card-content>
    <mat-card-actions>
        <b>{{myProduct.likes}}</b>
        <button mat-raised-button color="accent" (click)="onAddLike()">{{myProduct.likeLabel}}</button>
    </mat-card-actions>
    <mat-card-content>{{myProduct.createDate | date:'fullDate'}}</mat-card-content>
    <a mat-raised-button class="details" *ngIf= "displayLink" [routerLink] = "['product', myProduct.id]">
        Plus de détails..
    </a>
</mat-card>