body {
    background-color: rgb(250, 181, 116);
    height: 74em;
  }

  .header {
    background-color: #5c7af3;
    color: white;
    padding: 10px;
    height: 3em;
  }  

  .footer {
    background-color: #5c7af3;
    color: white;
    text-align: center;
    padding: 10px;
    height: auto;
  }